@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #031321;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.menu_top_but {
  position: absolute;
  font-size: 25px;
  top: 25px;
  left: 0px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5);
}
.sidenav {
  height: 88%;
  width: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-left: 5px;
  margin-top: 25px;
  background: linear-gradient(#113156, #070731);
  border-radius: 0 40px 40px 0;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

.sidenav a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #eee010;
  display: block;
  cursor: pointer;
  transition: .5s
}

.offcanvas a:focus,
.sidenav a:hover {
  color: #f1f1f1
}

#infoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: none
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px
}

.signal_val {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  margin: 10px
}

.text_sig {
  color: gold;
  font-weight: 600;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding: 0;
  text-align: center;
  align-items: center
}

.wifi_val {
  color: red;
  font-weight: 600;
  font-size: 16px;
  width: 60px;
  font-family: Roboto, sans-serif;
  padding: 0;
  text-align: center;
  align-items: center
}

.timer_text {
  display: flex;
  justify-content: center;
  text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.set_form {
  margin: 0 auto;
  border-radius: 5px;
  width: 230px;
  border: 2px solid #fff;
  padding: 5px;
}
p {
  display: block;
  color: #41d233;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 0px;
  text-align: center;
}
.set_form .adressfield {
  font-family: monospace;
  max-width: 40px;
  text-align: center;
  color: #1700f6ff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #555;
  outline: 0
}

.adressfield:focus {
  box-shadow: 0 0 5px #00a8de;
  background: #fffac0
}
.set_form .set_timer_dots {
  color: #fff;
  padding: 0;
  outline: none;
  border: none;
}
.send_but {
  display: flex;
  justify-content: center;
  align-items: center;
}
.set_but {
  font-family: Roboto, sans-serif;
  outline: 0;
  width: 100px;
  background-color: #41d233;
  color: #1700f6ff;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  border: none;
  outline: 0;
  margin-left: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

.set_but:active {
  transform: translateY(2px) translateX(2px);
  box-shadow: 2px 2px 6px #555
}

.but_nav {
  font-family: Roboto, sans-serif;
  border-radius: 10px;
  border: 2px solid #e8d316FF;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #fff;
  font-weight: 600;
  box-shadow: 2px 2px 6px #555;
  outline: 0;
  background-color: transparent
}

.fieldset:first-child {
  margin-top: 50px;
}

.table {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}


canvas {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 340px;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  padding: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, 35), inset -3px -3px 5px rgba(0, 0, 0, .8);
}
.main_name {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  color: gold;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255,35), inset -3px -3px 5px rgba(0, 0, 0, .8);
}
.name_status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wifi_off {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url('wifi_offline.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.wifi_on {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url('wifi_online.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.info_status{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, 35), inset -3px -3px 5px rgba(0, 0, 0, .8);
}
.status_irrigation{
  color: #41d233;
  font-size: 1.2em;
  font-weight: 700;
}

.pump-indicator {
  position: relative;
  width: 100px;
  height: 40px;
  overflow: hidden;
  border-left: 3px solid #00bfff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-right: 3px solid #00bfff;
  border-bottom: 5px solid #00bfff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.pump-indicator_off {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-bottom: 5px solid gray;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* каждая капля */
.drop {
  position: absolute;
  top: -20px;
  left: 50%;
  font-size: 10px;
  color: #00bfff;
  opacity: 0.8;
  animation: fall 2s linear infinite;
}

/* анимация падения */
@keyframes fall {
  0% {
    top: -20px;
    opacity: 1;
    transform: scale(1.3);
  }

  70% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    top: 120px;
    opacity: 0;
    transform: scale(0.5);
  }
}

.sensors_weather {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.sensor {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, 35), inset -3px -3px 5px rgba(0, 0, 0, .8);
}
.sensor img {
  width: 60px;
  height: 60px;
}
.cur_temp {
  font-weight: bold;
  color: #41d233;
  padding-right: 5px;
  width: 65px;
}
.cur_hum {
  font-weight: bold;
  color: #00a8de;
  padding-right: 5px;
  width: 60px;
}

.color_name {
  background: #f9a01b;
  color: #0015ff;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

.set_color_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.set_color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  border: 2px solid lightcoral;
  border-radius: 5px;
  padding: 0;

}

.column-1 {
  display: inline-block;
  font-family: monospace;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  color: #fff;
}

.column-1 span{
  display: inline-block;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  width: 120px;
  color: #fff;
}
.column-2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  width: 55px;
  color: #fff;
}

.column-3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  width: 15px;
  color: #fff;
}
.column-4 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  width: 5px;
  color: #fff;
}

.checkboxGreen {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px
}

.checkboxGreen+label {
  cursor: pointer
}

.checkboxGreen:not(checked) {
  position: absolute;
  opacity: 0
}

.checkboxGreen:not(checked)+label {
  position: relative;
  padding: 0 0 0 50px
}

.checkboxGreen:not(checked)+label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #577d94;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

.checkboxGreen:not(checked)+label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5);
  transition: all .3s
}

.checkboxGreen:checked+label:before {
  background: #41d233
}

.checkboxGreen:checked+label:after {
  left: 26px
}

.my_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.my_link svg {
  fill: #00ff00;
  margin-right: 5px;
}

.legend {
  background: #f9a01b;
  color: #0015ff;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}
.level_status {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.level_up {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.level_down {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.levelup_status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 100px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  border: 1px solid gold;
  border-radius: 5px;
  color: #00a8de;
}
.leveldown_status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 100px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  border: 1px solid gold;
  border-radius: 5px;
  color: #00a8de;
}
/* Engine knob */
.outer-black {
  width: 200px;
  height: 200px;
  background-color: #020202d9;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.outer-iron {
  width: 190px;
  height: 190px;
  background: linear-gradient(135deg,
      #4c4c4e 0%,
      #414141 34%,
      #6a6a6a 55%,
      #212121 100%);
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px #8a8787ad inset;
  overflow: hidden;
  position: relative;
}

.inner-black {
  width: 170px;
  height: 170px;
  background-color: #1e1e1e;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.inner-black-2 {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  margin: 7.5px auto 0;
  background-color: #101010;
  border: 1px solid #5e5e5eb3;
}

.inner-black-3 {
  width: 145px;
  height: 145px;
  margin: 5px auto 0;
  background-color: #252525;
  border-radius: 50%;
  border: 1px solid #1c1c1c;
}

.glare {
  width: 120px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 35px;
  transform: translateY(-30px);
  box-shadow: 0 0 40px 25px #fff;
}

button.engine {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #666;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 2.5px auto 0;
  border: 0;
  transition: all 0.1s;
  cursor: pointer;
  box-shadow:
    0 0 10px 3px #000 inset,
    0 -30px 60px #000000cc inset,
    0 20px 40px #000000cc inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.engine:active {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow:
    0 0 12px 5px #000 inset,
    0 -40px 80px #000000cc inset,
    0 30px 40px #000000cc inset;
  padding-top: 10px;
  background-position-y: 5px;
}

.light {
  width: 25px;
  height: 10px;
  background-color: #212121;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #1b1b1b;
  transition: all 0.6s;
}

.engine.active .light {
  background-color: #f9ea1a;
  border: 1px solid #923C14;
  box-shadow:
    0 0 11px 3px #C94A29 inset,
    0 0 32px 6px #C77713,
    0 0 100px #fff;
}

button.engine span {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  transition: all 0.6s;
  text-align: center;
}

button.engine span:first-of-type {
  font-size: 14px;
}

button.engine.active span {
  color: #C5DEA1;
  text-shadow: 0 0 15px #8CA579, 0 0 2px #fff;
}